[Unit]
Description=Hadoop MapReduce JobHistory Server
After=network.target

[Service]
User={{ hadoop_user }}
Group={{ hadoop_group }}
Environment=HADOOP_CONF_DIR=/etc/hadoop
ExecStart=/bin/bash -lc '{{ hadoop_symlink }}/bin/mapred historyserver'
Restart=on-failure

[Install]
WantedBy=multi-user.target
